/* Geral */ 
* {
    padding: 0;
    margin: 0;
    font-family: Helvetica;
    color: #dadada;    
    box-sizing: border-box;
}

body {
    background-image: url("../img/805233.jpg");
    background-position: center;
    background-size: cover;
}

body h1 {
    color: #fdfdfdfd;
}

button  {
    background-color: #030303;
    color: #ffffff;
    border: 3px #000000;   
    padding: .3rem .6rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    
}

button:hover {
    background-color: #eb5e5e;
    border: #ffffff;
} 

button:hover > i {
    color: rgb(0, 21, 255);
}

button i {
    color: #ffffff;
    font-weight: bold;
    pointer-events: none;
}

input, select {
    padding: 0.25rem 0.5rem;
}

.hide {
    display: none;
}

/* Todo-header */   

.todo-conteiner {
    max-width: 450px;
    margin: 3rem auto 0;
    padding: 1rem;
}

.todo-conteiner header {
    text-align: center;
    padding: 0 1rem 1rem;
    border-bottom: 1px solid #ccc;
}

/* Todo-former */

#todo-form, #edit-form  {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}

#todo-form p, #edit-form p {
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #fdfdfdfd    ;
}

.form-control   {
    display: flex;
}

.form-control input {
    margin-right: 0.2rem;
}

#cancel-edit-btn {
    margin-top: 0.2rem;
}

/* Todo tools */

#toolbar {
padding: 1rem;
border-bottom: 1px solid #ccc;
display: flex;
}   

#toolbar h4 {
    margin-bottom: 4rem;
}

#search {
    border-right: 1rem;
    padding-right: 1rem;
    margin-right: 1rem;
    width: 65%;
    display: flex;
    flex-direction: column;
}

#search form {
    display: flex;
}

#search input {
    width: 100%;
}

#filter {
    width: 35%;
    display: flex;
    flex-direction: column;
}

#filter select {
    flex: 1;
}

/* Todo list */

.todo {
display: flex;
justify-content: space-around;
align-items: center;
padding: 1rem;
border: 1px solid #ddd;
transition: 0.3s;
}

.todo h3 {
    flex: 1;
    font-size: 0.9rem;
}

.todo button {
    margin-left: 0.2rem;
}

.done {
    background-color: #6a0808;
    }

.done h3 {
    color: #fdfdfdfd;
    text-decoration: line-through;
    font-style: italic;
}